# Project exclude paths
/cmake-build-debug/
.idea
/cmake-build-debuglokal/
/cmake-build-dockerbhaga/
/cmake-build-ubuntu_prakbs24/
/cmake-build-ubuntu_prakbs24-1/
cmake-build-ubuntu_prakbs24_tests/
/cmake-build-docker/
/cmake-build-docker-1